<form>
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="livro.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Autor:</label>
        <input type="text" class="form-control" name="exampleInputText1" [(ngModel)]="livro.autor">
    </div>
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Genero:</label>
        <input type="text" class="form-control" name="exampleInputText1" [(ngModel)]="livro.genero">
    </div>
    <button type="submit"class="
    btn btn-primary"  (click)="save(livro)">Salvar</button>


</form>
